body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
img{
    height: 100px;
    weight: 150px;
}


.sidebar a.active {
    background-color: goldenrod;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {

    padding: 1px 16px;
    height: 1000px;
}

.oszlop {
    display: none;
}

table {
    border: 2px solid rgb(141, 113, 113);
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .sor {
        display: none;
    }
    .oszlop {
        display: table;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}